<?xml version="1.0"?>
<launch>

	<!-- args -->
	<arg name="gui" default="False" />
	<param name="use_gui" value="$(arg gui)"/>

	<!-- load model -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find r2_description)/robots/r2.urdf.xacro'" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

	<!-- load displays -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find r2_description)/launch/r2_display.rviz"/>

</launch>


