<?xml version="1.0" ?>

<robot name="r2" xmlns:xacro="http://wiki.ros.org/xacro">

  <property name="robot_name" value= "r2/" />

  <xacro:include filename="$(find r2_description)/urdf/r2.common.xacro" />
  <xacro:include filename="$(find r2_description)/urdf/r2.base.xacro" />

  <xacro:include filename="$(find r2_description)/urdf/r2.body.xacro" />
  <xacro:include filename="$(find r2_description)/urdf/r2.head.xacro" />

  <xacro:include filename="$(find r2_description)/urdf/r2.left_arm.xacro" />
  <xacro:include filename="$(find r2_description)/urdf/r2.left_hand.xacro" />

  <xacro:include filename="$(find r2_description)/urdf/r2.right_arm.xacro" />
  <xacro:include filename="$(find r2_description)/urdf/r2.right_hand.xacro" />

</robot>
