<?xml version="1.0" ?>

<robot name="r2" xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <property name="robot_name" value= "r2/" />

  <link name="${robot_name}robot_world"/>

  <joint name="${robot_name}fixed/robot_world/robot_base" type="fixed">
      <parent link="${robot_name}robot_world"/>
      <child link="${robot_name}robot_base"/>
      <origin rpy="0 3.14159 1.57079" xyz="0.255 0.9 1.365"/>
  </joint>

  <link name="${robot_name}robot_base"/>

  <joint name="${robot_name}fixed/robot_base/leg_stand_connection" type="fixed">
    <parent link="${robot_name}robot_base"/>
    <child link="${robot_name}leg_stand_connection"/>
    <origin rpy="0 3.14159 0" xyz="0.0 0.0 0.0"/>
  </joint>

  <non_visual_link name="${robot_name}leg_stand_connection"/>

  <xacro:include filename="$(find r2_description)/urdf/r2.common.xacro" />
  <xacro:include filename="$(find r2_description)/urdf/r2.body.xacro" />
  <xacro:include filename="$(find r2_description)/urdf/r2.head.xacro" />

  <xacro:include filename="$(find r2_description)/urdf/r2.left_arm.xacro" />
  <xacro:include filename="$(find r2_description)/urdf/r2.left_hand.xacro" />

  <xacro:include filename="$(find r2_description)/urdf/r2.right_arm.xacro" />
  <xacro:include filename="$(find r2_description)/urdf/r2.right_hand.xacro" />
  <xacro:include filename="$(find r2_description)/urdf/r2_legs/r2_legs.pelvis.xacro" />

  <xacro:include filename="$(find r2_description)/urdf/r2_legs/r2_legs.left_leg.xacro" />
  <xacro:include filename="$(find r2_description)/urdf/r2_legs/r2_legs.left_foot.xacro" />

  <xacro:include filename="$(find r2_description)/urdf/r2_legs/r2_legs.right_leg.xacro" />
  <xacro:include filename="$(find r2_description)/urdf/r2_legs/r2_legs.right_foot.xacro" />

</robot>
