<?xml version="1.0" ?>

  <robot xmlns:xacro="http://wiki.ros.org/xacro" name="r2_fullbody" >

  <link name="world"/>

  <property name="robot_name" value= "r2/" />

<!--  transforms in first joint don't seem to work properly-->
  <joint name="${robot_name}fixed/world/robot_world" type="fixed">
    <parent link="world"/>
    <child link="${robot_name}robot_world"/>
    <origin rpy="0 0 0.0" xyz="0.0 0.0 0.0"/>
  </joint>

  <xacro:include filename="$(find r2_description)/robots/r2_fullbody_no_world.urdf.xacro" />

</robot>
