<?xml version="1.0" ?>

<robot name="r2">

  <property name="robot_name" value= "r2/" />

  <xacro:include filename="$(find r2_description)/urdf/r2.common.xacro" />
  <xacro:include filename="$(find r2_description)/urdf/r2_legs/r2_legs.stand.xacro" />

  <xacro:include filename="$(find r2_description)/urdf/r2_legs/r2_legs.pelvis.xacro" />

  <xacro:include filename="$(find r2_description)/urdf/r2_legs/r2_legs.left_leg.xacro" />
  <xacro:include filename="$(find r2_description)/urdf/r2_legs/r2_legs.left_foot.xacro" />

  <xacro:include filename="$(find r2_description)/urdf/r2_legs/r2_legs.right_leg.xacro" />
  <xacro:include filename="$(find r2_description)/urdf/r2_legs/r2_legs.right_foot.xacro" />

</robot>
