<?xml version="1.0"?>
<robot name="r2_fullbody"  xmlns:xacro="http://wiki.ros.org/xacro">

  <gazebo>
    <plugin name="left_gazebo_gripper" filename="libgazebo_gripper.so">
      <updateRate>10.0</updateRate> <!--Hz-->
      <gripperAttachLink>r2/left_ankle_roll</gripperAttachLink>
<!--      <gripperAttachLink>r2/waist_center</gripperAttachLink>-->
      <gripperLink>r2/left_leg_jaw0</gripperLink>
      <gripperLink>r2/left_leg_jaw1</gripperLink>
      <maxRelativeMotionRate>0.0001</maxRelativeMotionRate> <!--units/second-->
      <attachWait>2.0</attachWait> <!--seconds-->
      <detachWait>0.0</detachWait> <!--seconds-->
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="right_gazebo_gripper" filename="libgazebo_gripper.so">
      <updateRate>10.0</updateRate> <!--Hz-->
      <gripperAttachLink>r2/right_ankle_roll</gripperAttachLink>
      <gripperLink>r2/right_leg_jaw0</gripperLink>
      <gripperLink>r2/right_leg_jaw1</gripperLink>
      <maxRelativeMotionRate>0.0001</maxRelativeMotionRate> <!--units/second-->
      <attachWait>2.0</attachWait> <!--seconds-->
      <detachWait>0.0</detachWait> <!--seconds-->
    </plugin>
  </gazebo>

</robot>
