<?xml version="1.0"?>
<robot name="r2_c_full_body" xmlns:xacro="http://wiki.ros.org/xacro">

  <gazebo>
    <plugin_ros_p3d name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
<!--      <robotNamespace>r2sim</robotNamespace>-->
      <bodyName>/r2/robot_base</bodyName>
      <topicName>/r2/robot_base/pose_state</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <frameName>world</frameName>
      <xyzOffsets>0 0 0</xyzOffsets>
      <rpyOffsets>0 0 0</rpyOffsets>
      <interface:position name="p3d_base_position"/>
    </plugin>
    <canonicalBody>/r2/robot_world</canonicalBody>
  </gazebo>

</robot>
