<?xml version="1.0"?>
<robot>

  <!-- transmission xacro -->
  <macro name="r2_trans" params="part joint reduction tc">
     <transmission name="${part}_j${joint}_trans">
       <type>transmission_interface/SimpleTransmission</type>
       <joint name="${part}/joint${joint}"/>
       <actuator name="${part}_j${joint}_motor">
         <hardwareInterface>EffortJointInterface</hardwareInterface>
         <mechanicalReduction>${reduction}</mechanicalReduction>
       </actuator>
       <motorTorqueConstant>${tc}</motorTorqueConstant>
     </transmission>
  </macro>

  <!-- r2_arm_transmission xacro -->
  <macro name="r2_leg_trans" params="side">

     <r2_trans part="${side}" joint="0" reduction="100" tc="0.01"/>
     <r2_trans part="${side}" joint="1" reduction="100" tc="0.01"/>
     <r2_trans part="${side}" joint="2" reduction="100" tc="0.01"/>
     <r2_trans part="${side}" joint="3" reduction="100" tc="0.01"/>
     <r2_trans part="${side}" joint="4" reduction="100" tc="0.01"/>
     <r2_trans part="${side}" joint="5" reduction="100" tc="0.01"/>
     <r2_trans part="${side}" joint="6" reduction="100" tc="0.01"/>

     <r2_trans part="${side}/gripper" joint="0" reduction="100" tc="0.01"/>
     <r2_trans part="${side}/gripper" joint="1" reduction="100" tc="0.01"/>
     <r2_trans part="${side}/gripper" joint="2" reduction="100" tc="0.01"/>

  </macro>

  <r2_leg_trans side="${robot_name}left_leg"/>
  <r2_leg_trans side="${robot_name}right_leg"/>


</robot>
