<?xml version="1.0"?>
<robot name="panel_a" xmlns:xacro="http://wiki.ros.org/xacro">

  <gazebo>
    <plugin name="panel_a_interface" filename="libgazebo_taskboard.so">
    </plugin>
<!--     <controller:panel_a_interface name="panel_a_interface" plugin="libgazebo_taskboard.so">
    </controller:panel_a_interface> -->
  </gazebo>

</robot>
