<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="r2">
  <xacro:macro name="camboard_nano_sensor" params="sensor_name parent_camera_link parent_depth_link">
      <gazebo reference="${parent_camera_link}">
        <sensor type="depth" name="camboard_nano_camera">
            <always_on>0</always_on>
            <visualize>true</visualize>
            <camera>
                <horizontal_fov>1.047</horizontal_fov>
                <image>
                    <width>100</width>
                    <height>100</height>
                    <format>R8G8B8</format>
                </image>
                <depth_camera> </depth_camera>
                <clip>
                    <near>0.1</near>
                    <far>.5</far>
                </clip>
            </camera>
            <plugin name="camera_controller" filename="libgazebo_ros_openni_kinect.so">
                <alwaysOn>0</alwaysOn>
                <updateRate>10.0</updateRate>
                <cameraName>${sensor_name}</cameraName>
                <frameName>${parent_depth_link}</frameName>
                <imageTopicName>/${sensor_name}/rgb/image_raw</imageTopicName>
                <depthImageTopicName>/${sensor_name}/depth/image_raw</depthImageTopicName>
                <pointCloudTopicName>/${sensor_name}/depth/points</pointCloudTopicName>
                <cameraInfoTopicName>/${sensor_name}/rgb/camera_info</cameraInfoTopicName>
                <depthImageCameraInfoTopicName>/${sensor_name}/depth/camera_info</depthImageCameraInfoTopicName>
                <pointCloudCutoff>0.4</pointCloudCutoff>
                <hackBaseline>0.0</hackBaseline>
                <distortionK1>0.0</distortionK1>
                <distortionK2>0.0</distortionK2>
                <distortionK3>0.0</distortionK3>
                <distortionT1>0.0</distortionT1>
                <distortionT2>0.0</distortionT2>
                <CxPrime>0.0</CxPrime>
                <Cx>0.0</Cx>
                <Cy>0.0</Cy>
                <focalLength>0.0</focalLength>
                </plugin>
        </sensor>
    </gazebo>
  </xacro:macro>
</robot>
