<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="r2">

  <xacro:macro name="hokuyo_lx30_laser_gazebo_v0" params="parent name ros_topic update_rate min_angle max_angle">
<!--     <gazebo reference="${name}_link">
      <sensor name="${name}" type="ray">
        <rayCount>640</rayCount>
        <rangeCount>640</rangeCount>
        <laserCount>1</laserCount>

        <origin>0.0 0.0 0.0</origin>
        <displayRays>false</displayRays>

        <minAngle>${min_angle*180.0/3.14159}</minAngle>
        <maxAngle>${max_angle*180.0/3.14159}</maxAngle>

        <minRange>0.08</minRange>
        <maxRange>10.0</maxRange>
        <resRange>0.01</resRange>
        <updateRate>${update_rate}</updateRate>
        <plugin name="gazebo_ros_${name}_controller" filename="libgazebo_ros_laser.so">
          <gaussianNoise>0.005</gaussianNoise>
          <alwaysOn>true</alwaysOn>
          <updateRate>${update_rate}</updateRate>
          <topicName>${ros_topic}</topicName>
          <frameName>${name}_link</frameName>
          <interface:laser name="gazebo_ros_${name}_iface" />
        </plugin>
      </sensor>
    </gazebo> -->

  <gazebo reference="${parent}">>
    <sensor name="${name}" type="ray">
        <pose>0 0 0 0 0 0</pose>
    <topic>${ros_topic}</topic>
        <ray>
          <scan>
            <horizontal>
              <samples>640</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle*180.0/3.14159}</min_angle>
              <max_angle>${max_angle*180.0/3.14159}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.08</min>
            <max>10</max>
            <resolution>0.01</resolution>
          </range>
        </ray>

        <plugin name="laser" filename="libgazebo_ros_laser.so" />
        <always_on>1</always_on>
        <update_rate>${update_rate}</update_rate>
        <visualize>true</visualize>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>
