<?xml version="1.0"?>
<robot name="r2" xmlns:xacro="http://wiki.ros.org/xacro">

 <xacro:include filename="$(find r2_gazebo)/urdf/sensors/asus.gazebo.xacro" />
 <xacro:include filename="$(find r2_gazebo)/urdf/sensors/camera.gazebo.xacro" />

 <xacro:camera_sensor camera_name="${robot_name}head/camera/left" frame_name="${robot_name}left_camera_optical_frame" />
 <xacro:camera_sensor camera_name="${robot_name}head/camera/right" frame_name="${robot_name}right_camera_optical_frame" />

 <xacro:asus_sensor sensor_name="${robot_name}asus" parent_camera_link="${robot_name}simulated_asus_camera_frame" parent_depth_link="${robot_name}simulated_asus_depth_frame"/>

</robot>
