<?xml version="1.0"?>
<robot name="r2" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
			xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
			xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
			xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <xacro:include filename="$(find r2_gazebo)/urdf/sensors/camboard_nano.gazebo.xacro" />
  <xacro:include filename="$(find r2_gazebo)/urdf/sensors/camera.gazebo.xacro" />

  <xacro:camera_sensor camera_name="${robot_name}left_leg/gripper/camera0" frame_name="${robot_name}left_leg_camera0_optical" />
<!--   <xacro:camera_sensor camera_name="${robot_name}left_leg/gripper/camera1" frame_name="${robot_name}left_leg_camera1_optical" /> -->
  <xacro:camera_sensor camera_name="${robot_name}right_leg/gripper/camera0" frame_name="${robot_name}right_leg_camera0_optical" />
<!--   <xacro:camera_sensor camera_name="${robot_name}right_leg/gripper/camera1" frame_name="${robot_name}right_leg_camera1_optical" /> -->

  <xacro:camboard_nano_sensor sensor_name="${robot_name}left_foot_camboard" parent_camera_link="${robot_name}simulated_left_foot_camboard_frame" parent_depth_link="${robot_name}simulated_left_foot_camboard_depth_frame"/>
  <xacro:camboard_nano_sensor sensor_name="${robot_name}right_foot_camboard" parent_camera_link="${robot_name}simulated_right_foot_camboard_frame" parent_depth_link="${robot_name}simulated_right_foot_camboard_depth_frame"/>
</robot>
