<?xml version="1.0"?>
<robot>

  <macro name="gazebo_legs_link" params="name material gravityOff static collide">
     <gazebo reference="${name}">
        <selfCollide>${collide}</selfCollide>
        <static>${static}</static>
        <turnGravityOff>${gravityOff}</turnGravityOff>
        <material>${material}</material>
     </gazebo>
  </macro>

  <macro name="gazebo_legs_joint" params="name">
     <gazebo reference="${name}">
        <stopKd value="0.0" />
        <stopKp value="1000.0" />
     </gazebo>
  </macro>

  <gazebo_legs_link name="${robot_name}pelvis" gravityOff="false" material="" static="false" collide="false"/>

  <gazebo_legs_link name="${robot_name}left_leg" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}left_hip_roll" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}left_hip_pitch" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}left_upper_leg" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}left_knee" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}left_lower_leg" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}left_ankle_pitch" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}left_ankle_roll" gravityOff="false" material="Gazebo/DirtyWhite" static="false" collide="false"/>

  <gazebo_legs_link name="${robot_name}left_leg_foot" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}left_leg/gripper/link0" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}left_leg_jaw1" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}left_leg_jaw2" gravityOff="false" material="" static="false" collide="false"/>

  <gazebo_legs_link name="${robot_name}right_hip_roll" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}right_hip_pitch" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}right_upper_leg" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}right_knee" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}right_lower_leg" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}right_ankle_pitch" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}right_ankle_roll" gravityOff="false" material="Gazebo/DirtyWhite" static="false" collide="false"/>

  <gazebo_legs_link name="${robot_name}right_leg_foot" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}right_leg/gripper/link0" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}right_leg_jaw1" gravityOff="false" material="" static="false" collide="false"/>
  <gazebo_legs_link name="${robot_name}right_leg_jaw2" gravityOff="false" material="" static="false" collide="false"/>

  <gazebo_legs_joint name="${robot_name}left_leg/joint0"/>
  <gazebo_legs_joint name="${robot_name}left_leg/joint1"/>
  <gazebo_legs_joint name="${robot_name}left_leg/joint2"/>
  <gazebo_legs_joint name="${robot_name}left_leg/joint3"/>
  <gazebo_legs_joint name="${robot_name}left_leg/joint4"/>
  <gazebo_legs_joint name="${robot_name}left_leg/joint5"/>
  <gazebo_legs_joint name="${robot_name}left_leg/joint6"/>
  <gazebo_legs_joint name="${robot_name}left_leg/gripper/joint0"/>
  <gazebo_legs_joint name="${robot_name}left_leg/gripper/joint1"/>
  <gazebo_legs_joint name="${robot_name}left_leg/gripper/joint2"/>

  <gazebo_legs_joint name="${robot_name}right_leg/joint0"/>
  <gazebo_legs_joint name="${robot_name}right_leg/joint1"/>
  <gazebo_legs_joint name="${robot_name}right_leg/joint2"/>
  <gazebo_legs_joint name="${robot_name}right_leg/joint3"/>
  <gazebo_legs_joint name="${robot_name}right_leg/joint4"/>
  <gazebo_legs_joint name="${robot_name}right_leg/joint5"/>
  <gazebo_legs_joint name="${robot_name}right_leg/joint6"/>
  <gazebo_legs_joint name="${robot_name}right_leg/gripper/joint0"/>
  <gazebo_legs_joint name="${robot_name}right_leg/gripper/joint1"/>
  <gazebo_legs_joint name="${robot_name}right_leg/gripper/joint2"/>

</robot>
