<?xml version="1.0" ?>

<robot name="r2" xmlns:xacro="http://wiki.ros.org/xacro">

  <property name="robot_name" value= "r2/" />

  <xacro:include filename="$(find r2_description)/robots/r2.urdf.xacro" />

  <xacro:include filename="$(find r2_gazebo)/urdf/r2.gazebo.xacro" />
  <xacro:include filename="$(find r2_gazebo)/urdf/sensors/r2.gazebo.sensors.xacro" /> 

</robot>
