<?xml version="1.0" ?>

<robot name="r2" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
			xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
			xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
			xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <property name="robot_name" value= "r2/" />

  <xacro:include filename="$(find r2_description)/robots/r2_fullbody.urdf.xacro" />

  <xacro:include filename="$(find r2_gazebo)/urdf/r2.gazebo.xacro" />
  <xacro:include filename="$(find r2_gazebo)/urdf/sensors/r2.gazebo.sensors.xacro" />


  <xacro:include filename="$(find r2_gazebo)/urdf/r2_legs.gazebo.xacro" />
  <xacro:include filename="$(find r2_gazebo)/urdf/sensors/r2_legs.gazebo.sensors.xacro" />

 <!--
  <xacro:include filename="$(find r2_gazebo)/urdf/gazebo_plugins/p3d_base_controller.xacro" />
  <xacro:include filename="$(find r2_gazebo)/urdf/gazebo_plugins/gazebo_interface.xacro" />
  <xacro:include filename="$(find r2_gazebo)/urdf/gazebo_plugins/leg_grippers.xacro" />
 -->

  <xacro:include filename="$(find r2_gazebo)/urdf/gazebo_plugins/r2.transmissions.xacro" />
  <xacro:include filename="$(find r2_gazebo)/urdf/gazebo_plugins/r2_legs.transmissions.xacro" />

  <xacro:include filename="$(find r2_gazebo)/urdf/gazebo_plugins/r2.gazebo.controller.xacro" />

</robot>
