<launch>
  <arg name="marker_size" default="12.3"/> <!--<1>-->
  <arg name="max_new_marker_error" default="0.2"/>
  <arg name="max_track_error" default="0.8"/>
  <arg name="cam_image_topic" default="/head_camera/depth_registered/camera_info"/>
  <arg name="cam_info_topic" default="/head_camera/rgb/camera_info"/>
  <arg name="output_frame" default="/base_link"/>
  <node name="ar_track_alvar" pkg="ar_track_alvar"
        type="individualMarkersNoKinect" respawn="false" output="screen" 
        args="$(arg marker_size) $(arg max_new_marker_error) \
              $(arg max_track_error) $(arg cam_image_topic)  \
              $(arg cam_info_topic) $(arg output_frame)" /> 
  <arg name="tag_rot" default="0 0 0 0 0 -1.57"/> <!--<3>-->
  <arg name="tag_trans" default="0 -0.28 -0.1 0 0 0"/>

  <node pkg="tf" type="static_transform_publisher" name="ar_0_up"
        args="$(arg tag_rot) ar_marker_0 ar_0_up 100"/>
  <node pkg="tf" type="static_transform_publisher" name="item_0"
        args="$(arg tag_trans) ar_0_up item_0 100"/>
</launch>
