<?xml version="1.0"?>
<launch>
	<arg name="gui" default="True" />
	
    <!-- load robot -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find r2_gazebo)/robots/r2.display.urdf.xacro'"/> 

	<!-- load display -->
	<param name="use_gui" value="$(arg gui)"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find r2_gazebo)/config/urdf.rviz"/>
</launch>

