<?xml version="1.0"?>
<launch>
  <arg name="robot"     default="true" />
  <arg name="gui"       default="true" />
  <arg name="world"     default="r2_empty" /> <!-- r2_empty_no_gravity-->
  <arg name="gravity"   default="true" />
  <arg name="debug"     default="false" />
  <arg name="octomap"   default="false" />

  <arg name="taskboard" default="false" />

  <param name="/use_sim_time" value="true"/>

  <!-- load world -->
  <node name="gazebo" pkg="gazebo_ros" type="debug" args="$(find r2_gazebo)/gazebo/$(arg world).world" output="screen" respawn="false" if="$(arg debug)"/>
  <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(find r2_gazebo)/gazebo/$(arg world).world" output="screen" respawn="false" unless="$(arg debug)"/>

  <group if="$(arg gravity)">
    <param name="/gravity/x" value="0"/>
    <param name="/gravity/y" value="0"/>
    <param name="/gravity/z" value="-9.8"/>
  </group>

  <!-- load robot -->
  <group if="$(arg robot)">
    <include file="$(find r2_gazebo)/launch/spawn_r2.launch"/>
  </group>

    
  <include file="$(find r2_gazebo)/launch/taskboard.launch" if="$(arg taskboard)" />  

  <!-- start gui -->
  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen" if="$(arg gui)"/>

  <!-- reference frame broadcaster for moveit -->
  <node pkg="tf" type="static_transform_publisher" name="moveit_odom_broadcaster" args="0 0 0 0 0 0 reference_frame world 100" />

  <include file="$(find r2_gazebo)/launch/octomap.launch" if="$(arg octomap)"/>

</launch>


