<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find r2_gazebo)/robots/r2_fullbody.sim.urdf.xacro'" />
    <node name="spawn_r2" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model r2 -paused=true" respawn="false" output="screen" />
    
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find r2_gazebo)/config/controllers/r2_fullbody_generic_traj_control.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/r2" args="r_arm_controller l_arm_controller r_hand_controller l_hand_controller l_leg_controller r_leg_controller l_foot_controller r_foot_controller neck_controller waist_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

  <!-- remap js -->
  <node name="js_remap" pkg="topic_tools" type="relay" respawn="true" output="screen" args="/r2/joint_states /joint_states"/>

  <!-- move robot to ready pose -->
  <node name="r2_ready_pose" pkg="r2_control" type="r2_fullbody_ready_pose.py" respawn="false" output="screen"/>
</launch>
