<?xml version="1.0"?>
<launch>

    <arg name="user_debug" default="TRUE"/>
    <param name="robot_description" textfile="$(find cheetah_description)/xacro/mini_cheetah.urdf" />
    <param name="use_gui" value="TRUE"/>

    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" 			    name="joint_state_publisher_gui">   </node>
  

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="1000.0"/>
    </node>

    <node pkg="rviz" type="rviz" name="rviz" respawn="false" output="screen"
        args="-d $(find cheetah_description)/launch/check_joint.rviz"/>

</launch>
