<?xml version="1.0"?>
<robot>

  <link name="${robot_name}pelvis">
    <inertial>
      <mass value="13.16272"/>
      <inertia ixx="0.11949" ixy="-0.00024" ixz="0.00000" iyy="0.07163" iyz="0.00000" izz="0.11047"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://r2_description/meshes/r2_legs/r2cl_ext_pelvis.dae"/>
      </geometry>
      <material name="gold"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://r2_description/meshes/r2_legs/r2cl_ext_pelvis.dae"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </collision>
  </link>

  <joint name="${robot_name}fixed/leg_stand_connection/pelvis" type="fixed">
    <parent link="${robot_name}leg_stand_connection"/>
    <child link="${robot_name}pelvis"/>
    <origin rpy="0 0 0" xyz="0 0 -0.098"/>
  </joint>

</robot>
